{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="{{ lang | safe }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{{ trans(key="title", lang=lang) }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="semantic-2.8.6.min.css") | safe }}"/>
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="style.css") | safe }}"/>
</head>

<body>
    {# Following Menu #}
    <div class="ui large top fixed hidden menu" dir="auto">
        <div class="ui container">
            <a class="header item" href="{{ get_url(path="@/_index.md", lang=lang) | safe }}">
                {{ trans(key="title", lang=lang) }}
            </a>
            <a class="item" href="{{ get_url(path="@/activities/index.md", lang=lang) | safe }}">
                {{ macros::get_i18n_page_title(path="activities/index.md", lang=lang) }}
            </a>
            <div class="ui dropdown item">
                {{ macros::get_i18n_section_title(path="company-profile/_index.md", lang=lang) }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ get_url(path="@/company-profile/the-firm/index.md", lang=lang) | safe }}">
                        {{ macros::get_i18n_page_title(path="company-profile/the-firm/index.md", lang=lang) }}
                    </a>
                    <a class="item" href="{{ get_url(path="@/company-profile/mission-and-vision/index.md", lang=lang) | safe }}">
                        {{ macros::get_i18n_page_title(path="company-profile/mission-and-vision/index.md", lang=lang) }}
                    </a>
                    <a class="item" href="{{ get_url(path="@/company-profile/organization/index.md", lang=lang) | safe }}">
                        {{ macros::get_i18n_page_title(path="company-profile/organization/index.md", lang=lang) }}
                    </a>
                    <a class="item" href="{{ get_url(path="@/company-profile/quality/index.md", lang=lang) | safe }}">
                        {{ macros::get_i18n_page_title(path="company-profile/quality/index.md", lang=lang) }}
                    </a>
                    <a class="item" href="{{ get_url(path="@/company-profile/values/index.md", lang=lang) | safe }}">
                        {{ macros::get_i18n_page_title(path="company-profile/values/index.md", lang=lang) }}
                    </a>
                </div>
            </div>
            <a class="item" href="{{ get_url(path="@/gallery/index.md", lang=lang) | safe }}">
                {{ macros::get_i18n_page_title(path="gallery/index.md", lang=lang) }}
            </a>
            <a class="item" href="{{ get_url(path="@/news/_index.md", lang=lang) | safe }}">
                {{ macros::get_i18n_section_title(path="news/_index.md", lang=lang) }}
            </a>
            <a class="item" href="{{ get_url(path="@/contact/index.md", lang=lang) | safe }}">
                {{ macros::get_i18n_page_title(path="contact/index.md", lang=lang) }}
            </a>
            <div class="ui dropdown item">
                {{ macros::get_current_language(lang=lang) }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    {% if section is defined %}
                        {{ macros::render_available_languages(lang=lang, translations=section.translations) }}
                    {% endif %}
                    {% if page is defined %}
                        {{ macros::render_available_languages(lang=lang, translations=page.translations) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# Sidebar Menu #}
    <div class="ui vertical inverted sidebar {{ macros::get_current_direction(lang=lang) }} menu">
        <a class="header item" href="{{ get_url(path="@/_index.md", lang=lang) | safe }}">
            {{ trans(key="title", lang=lang) }}
        </a>
        <a class="item" href="{{ get_url(path="@/activities/index.md", lang=lang) | safe }}">
            {{ macros::get_i18n_page_title(path="activities/index.md", lang=lang) }}
        </a>
        <div class="ui dropdown inverted item">
            {{ macros::get_i18n_section_title(path="company-profile/_index.md", lang=lang) }}
            <i class="dropdown icon"></i>
            <div class="left menu">
                <a class="item" href="{{ get_url(path="@/company-profile/the-firm/index.md", lang=lang) | safe }}">
                    {{ macros::get_i18n_page_title(path="company-profile/the-firm/index.md", lang=lang) }}
                </a>
                <a class="item" href="{{ get_url(path="@/company-profile/mission-and-vision/index.md", lang=lang) | safe }}">
                    {{ macros::get_i18n_page_title(path="company-profile/mission-and-vision/index.md", lang=lang) }}
                </a>
                <a class="item" href="{{ get_url(path="@/company-profile/organization/index.md", lang=lang) | safe }}">
                    {{ macros::get_i18n_page_title(path="company-profile/organization/index.md", lang=lang) }}
                </a>
                <a class="item" href="{{ get_url(path="@/company-profile/quality/index.md", lang=lang) | safe }}">
                    {{ macros::get_i18n_page_title(path="company-profile/quality/index.md", lang=lang) }}
                </a>
                <a class="item" href="{{ get_url(path="@/company-profile/values/index.md", lang=lang) | safe }}">
                    {{ macros::get_i18n_page_title(path="company-profile/values/index.md", lang=lang) }}
                </a>
            </div>
        </div>
        <a class="item" href="{{ get_url(path="@/gallery/index.md", lang=lang) | safe }}">
            {{ macros::get_i18n_page_title(path="gallery/index.md", lang=lang) }}
        </a>
        <a class="item" href="{{ get_url(path="@/news/_index.md", lang=lang) | safe }}">
            {{ macros::get_i18n_section_title(path="news/_index.md", lang=lang) }}
        </a>
        <a class="item" href="{{ get_url(path="@/contact/index.md", lang=lang) | safe }}">
            {{ macros::get_i18n_page_title(path="contact/index.md", lang=lang) }}
        </a>
        <div class="ui dropdown inverted item">
            {{ macros::get_current_language(lang=lang) }}
            <i class="dropdown icon"></i>
            <div class="left menu">
                {% if section is defined %}
                    {{ macros::render_available_languages(lang=lang, translations=section.translations) }}
                {% endif %}
                {% if page is defined %}
                    {{ macros::render_available_languages(lang=lang, translations=page.translations) }}
                {% endif %}
            </div>
        </div>
    </div>

    {# Page Contents #}
    <div class="pusher" dir="auto">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="header item" href="{{ get_url(path="@/_index.md", lang=lang) | safe }}">
                        {{ trans(key="title", lang=lang) }}
                    </a>
                    <a class="item" href="{{ get_url(path="@/activities/index.md", lang=lang) | safe }}">
                        {{ macros::get_i18n_page_title(path="activities/index.md", lang=lang) }}
                    </a>
                    <div class="ui dropdown inverted item">
                        {{ macros::get_i18n_section_title(path="company-profile/_index.md", lang=lang) }}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" href="{{ get_url(path="@/company-profile/the-firm/index.md", lang=lang) | safe }}">
                                {{ macros::get_i18n_page_title(path="company-profile/the-firm/index.md", lang=lang) }}
                            </a>
                            <a class="item" href="{{ get_url(path="@/company-profile/mission-and-vision/index.md", lang=lang) | safe }}">
                                {{ macros::get_i18n_page_title(path="company-profile/mission-and-vision/index.md", lang=lang) }}
                            </a>
                            <a class="item" href="{{ get_url(path="@/company-profile/organization/index.md", lang=lang) | safe }}">
                                {{ macros::get_i18n_page_title(path="company-profile/organization/index.md", lang=lang) }}
                            </a>
                            <a class="item" href="{{ get_url(path="@/company-profile/quality/index.md", lang=lang) | safe }}">
                                {{ macros::get_i18n_page_title(path="company-profile/quality/index.md", lang=lang) }}
                            </a>
                            <a class="item" href="{{ get_url(path="@/company-profile/values/index.md", lang=lang) | safe }}">
                                {{ macros::get_i18n_page_title(path="company-profile/values/index.md", lang=lang) }}
                            </a>
                        </div>
                    </div>
                    <a class="item" href="{{ get_url(path="@/gallery/index.md", lang=lang) | safe }}">
                        {{ macros::get_i18n_page_title(path="gallery/index.md", lang=lang) }}
                    </a>
                    <a class="item" href="{{ get_url(path="@/news/_index.md", lang=lang) | safe }}">
                        {{ macros::get_i18n_section_title(path="news/_index.md", lang=lang) }}
                    </a>
                    <a class="item" href="{{ get_url(path="@/contact/index.md", lang=lang) | safe }}">
                        {{ macros::get_i18n_page_title(path="contact/index.md", lang=lang) }}
                    </a>
                    <div class="ui dropdown inverted item">
                        {{ macros::get_current_language(lang=lang) }}
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% if section is defined %}
                                {{ macros::render_available_languages(lang=lang, translations=section.translations) }}
                            {% endif %}
                            {% if page is defined %}
                                {{ macros::render_available_languages(lang=lang, translations=page.translations) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui text container">
                <h1 class="ui inverted header">
                    {{ trans(key="title", lang=lang) }}
                </h1>
                <h2>Take a look at our work samples.</h2>
                <a class="ui huge primary button" href="{{ get_url(path="@/gallery/index.md", lang=lang) | safe }}">
                    Browse gallery <i class="right arrow icon"></i>
                </a>
            </div>
        </div>

        {% block content %} {% endblock %}
    </div>

    <script type="text/javascript" src="{{ get_url(path="jquery-3.3.1.min.js") | safe }}"></script>
    <script type="text/javascript" src="{{ get_url(path="semantic-2.8.6.min.js") | safe }}"></script>
    <script type="text/javascript" src="{{ get_url(path="site.js") | safe }}"></script>
    {% if config.extra.debug %}
        <script>
            console.log({{ __tera_context }})
        </script>
    {% endif %}
</body>
</html>
