{% extends "index-section.html" %}

{% block contact %}
    <h1>اتصل بنا</h1>
    <address>
        <strong>عجباني الاستشارية المحدودة</strong>
        االطابق السادس،<br>
        البرج 16 (مارسلاند)،<br>
        جاردن سيتي، الخرطوم،<br>
        السودان<br>
        <br>
        <abbr title="Telephone">Tel:</abbr> +249-120613066<br>
        <abbr title="Mobile">Mob:</abbr> +249-912968085<br>
        <br>
        email: <a href="mailto:info@agabani.com">info@agabani.com</a>
    </address>
{% endblock  %}
