{% extends "base.html" %}

{% block masthead %}
    <div class="ui text container">
        <h1 class="ui inverted header">
            {{ trans(key="title", lang=lang) }}
        </h1>
        <h2>Take a look at our work samples.</h2>
        <a class="ui huge primary button" href="{{ get_url(path="@/gallery/index.md", lang=lang) | safe }}">
            Browse gallery <i class="right arrow icon"></i>
        </a>
    </div>
{% endblock  %}

{% block content %}
    <div class="ui container">
        <div class="ui grid">
            <div class="three column row">
                <div class="column">
                    <h1>{{ trans(key="latest_news", lang=lang) }}</h1>
                    {% set news_section = get_section(path="news/_index.md") %}
                    {% for page in news_section.pages %}
                        {% set translation = page.translations | filter(attribute="lang", value=lang) | first %}
                        <div>
                            <a href="{{ translation.permalink }}">{{ translation.title }}</a>
                        </div>
                        <div>
                            <span>{{ page.date }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                    {{ section.content | safe }}
                </div>
                <div class="column">
                    {% block contact %} {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
