{% extends "base.html" %}

{% block masthead %}
    <div class="ui text container">
        <h1 class="ui inverted header">
            {{ trans(key="title", lang=lang) }}
        </h1>
        <h2>Take a look at our work samples.</h2>
        <a class="ui huge primary button" href="{{ get_url(path="@/gallery/index.md", lang=lang) | safe }}">
            Browse gallery <i class="right arrow icon"></i>
        </a>
    </div>
{% endblock  %}

{% block content %}
    <div class="ui container">
        {{ section.content | safe }}
    </div>
{% endblock content %}
