{% extends "index-section.html" %}

{% block contact %}
    <h1>Contact Us</h1>
    <address>
        <strong>Agabani Consultancy Ltd.</strong><br>
        Floor Six<br>
        Marsland Building<br>
        Garden City<br>
        Khartoum<br>
        Sudan<br>
        <br>
        <abbr title="Telephone">Tel:</abbr> +249-120613066<br>
        <abbr title="Mobile">Mob:</abbr> +249-912968085<br>
        <br>
        email: <a href="mailto:info@agabani.com">info@agabani.com</a>
    </address>
{% endblock %}
