{% macro get_i18n_page_title(path, lang) %}
    {{ get_page(path=path) | get(key="translations") | filter(attribute="lang", value=lang) | first | get(key="title") }}
{% endmacro %}

{% macro get_i18n_section_title(path, lang) %}
    {{ get_section(path=path) | get(key="translations") | filter(attribute="lang", value=lang) | first | get(key="title") }}
{% endmacro %}

{% macro languages(language, translations) %}
    {% if language == "en" %}
        English
    {% elif language == "ar" %}
        العربية
    {% else %}
        {{ language }}
    {% endif %}
    <i class="dropdown icon"></i>
    <div class="menu">
        {% if translations | length == 0 %}
            <a class="item" href="{{ get_url(path="/") | safe }}">
                English
            </a>
            <a class="item" href="{{ get_url(path="/ar") | safe }}">
                العربية
            </a>
        {% else %}
            {% for translation in translations %}
                <a class="item" href="{{ translation.permalink }}">
                    {% if translation.lang == "en" %}
                        English
                    {% elif translation.lang == "ar" %}
                        العربية
                    {% else %}
                        {{ translation.lang }}
                    {% endif %}
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}
